.aside
  .aside-content
    = link_to "" do
      = image_tag "//web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"
      .aside-banner__link
        スマホでかんたんフリマアプリ
        .aside-banner__link__text
          今すぐ無料ダウンロード！
  .aside2-content
    .aside2-banner
      .aside2-banner__links
        .aside2-banner__links__text1
          スマホでかんたんフリマアプリ
        .aside2-banner__links__text2
          今すぐ無料ダウンロード！
        .aside2-banner__links__logo
          = image_tag "//web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"
          = link_to "#" do
            = image_tag "appstore.svg"
          = link_to "#" do
            = image_tag "googleplay.svg"
      .aside2-banner__figure
        = image_tag "mercari5.png"
