.exhibit-screen
  = render partial: 'shared/signup-header'

  - if session[:error].present?
    %ul.has-error-text
      - session[:error].each do |e|
        %li= e
    = session[:error] = nil
  
  .exhibit-content
    
    .exhibit-content__title
      商品の情報を入力
    = render 'form', { item: @item}
    
    = link_to root_path do
      .exhibit-bottom_return.btn-default.btn-gray
        もどる
  
  
  = render partial: 'shared/signup-footer'