.toppage-container
  = render partial: 'shared/main_header'
  .main-content
    .middle
      .middle__content
        .link-list
          .slider
            %img.slider-image{src: ""}
            %img.slider-image{src: ""}
              .slider-image__application
                = link_to "#" do
                  .apple-link
                    アップル
                = link_to "#" do
                  .google-link
                    google
    
    .popular
      %h2.popular__title.bold
        人気のカテゴリー
      .popular__box
        %ul.popular__box--lists
          %li.list
            = link_to "レディース"
          %li.list
            = link_to "メンズ"
          %li.list
            = link_to "家電・スマホ・カメラ"
          %li.list
            = link_to "おもちゃ・ホビー・グッズ"
    .popular-items
      .popular-header
        .popular-header__item
          %h3.popular-header__item__title
            レディース新着アイテム
          = link_to "#" do
            もっと見る
            = fa_icon "chevron-right"
        .popular-content
          .popular-content__items
            %ul.popular-content__items--list
              // データベースから並べる時に使用
              - @ladies.each do |lady|
                %li.popular-content__item
                  %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                    = link_to item_path(lady), class: "items-link" do
                      .item-box
                        %span
                          ¥
                          = lady.price
                        - lady.photos.each do |photo|
                          = image_tag photo.photo
                      .item-name
                        %span
                          = lady.name

      .popular-header
        .popular-header__item
          %h3.popular-header__item__title
            メンズ新着アイテム
          = link_to "#" do
            もっと見る
            = fa_icon "chevron-right"
        .popular-content
          .popular-content__items
            %ul.popular-content__items--list
              - @mens.each do |men|
                %li.popular-content__item
                  %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                    = link_to item_path(men), class: "items-link" do
                      .item-box
                        %span
                          ¥
                          = men.price
                        - men.photos.each do |photo|
                          = image_tag photo.photo
                      .item-name
                        %span
                          = men.name

      .popular-header
        .popular-header__item
          %h3.popular-header__item__title
            家電・スマホ・カメラ新着アイテム
          = link_to "#" do
            もっと見る
            = fa_icon "chevron-right"
        .popular-content
          .popular-content__items
            %ul.popular-content__items--list
              - @phones.each do |phone|
                %li.popular-content__item
                  %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                    = link_to item_path(phone), class: "items-link" do
                      .item-box
                        %span
                          ¥
                          = phone.price
                        - phone.photos.each do |photo|
                          = image_tag photo.photo
                      .item-name
                        %span
                          = phone.name
      
      .popular-header
        .popular-header__item
          %h3.popular-header__item__title
            おもちゃ・ホビー・グッズ新着アイテム
          = link_to "#" do
            もっと見る
            = fa_icon "chevron-right"
        .popular-content
          .popular-content__items
            %ul.popular-content__items--list
              - @toys.each do |toy|
                %li.popular-content__item
                  %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                    = link_to item_path(toy), class: "items-link" do
                      .item-box
                        %span
                          ¥
                          = toy.price
                        - toy.photos.each do |photo|
                          = image_tag photo.photo
                      .item-name
                        %span
                          = toy.name
    
    .popular
      %h2.popular__title.bold
        人気のブランド
      .popular__box
        %ul.popular__box--lists
          %li.list
            = link_to "シャネル"
          %li.list
            = link_to "ルイヴィトン"
          %li.list
            = link_to "シュプリーム"
          %li.list
            = link_to "ナイキ"

    .popular-items
      .popular-header
        .popular-header__item
          %h3.popular-header__item__title
            シャネル新着アイテム
          = link_to "#" do
            もっと見る
            = fa_icon "chevron-right"
        .popular-content
          .popular-content__items
            %ul.popular-content__items--list
              - @chanels.each do |chanel|
                %li.popular-content__item
                  %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                    = link_to item_path(chanel), class: "items-link" do
                      .item-box
                        %span
                          ¥
                          = chanel.price
                        - chanel.photos.each do |photo|
                          = image_tag photo.photo
                      .item-name
                        %span
                          = chanel.name
      
      .popular-header
        .popular-header__item
          %h3.popular-header__item__title
            ルイヴィトン新着アイテム
          = link_to "#" do
            もっと見る
            = fa_icon "chevron-right"
        .popular-content
          .popular-content__items
            %ul.popular-content__items--list
              - @vitons.each do |viton|
                %li.popular-content__item
                  %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                    = link_to item_path(viton), class: "items-link" do
                      .item-box
                        %span
                          ¥
                          = viton.price
                        - viton.photos.each do |photo|
                          = image_tag photo.photo
                      .item-name
                        %span
                          = viton.name

      .popular-header
        .popular-header__item
          %h3.popular-header__item__title
            シュプリーム新着アイテム
          = link_to "#" do
            もっと見る
            = fa_icon "chevron-right"
        .popular-content
          .popular-content__items
            %ul.popular-content__items--list
              - @supremes.each do |supreme|
                %li.popular-content__item
                  %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                    = link_to item_path(supreme), class: "items-link" do
                      .item-box
                        %span
                          ¥
                          = supreme.price
                        - supreme.photos.each do |photo|
                          = image_tag photo.photo
                      .item-name
                        %span
                          = supreme.name
      
      .popular-header
        .popular-header__item
          %h3.popular-header__item__title
            ナイキ新着アイテム
          = link_to "#" do
            もっと見る
            = fa_icon "chevron-right"
        .popular-content
          .popular-content__items
            %ul.popular-content__items--list
              - @nikes.each do |nike|
                %li.popular-content__item
                  %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                    = link_to item_path(nike), class: "items-link" do
                      .item-box
                        %span
                          ¥
                          = nike.price
                        - nike.photos.each do |photo|
                          = image_tag photo.photo
                      .item-name
                        %span
                          = nike.name
    
  = render partial: 'shared/main_aside'

  = render partial: 'shared/main_footer'

  = render partial: 'shared/sell_btn'