.category-container
  = render partial: "shared/main_header"
  %nav.bread-crumbs
    // パンくずリスト
    .bread-crumbs__line
      -# @familyはcontrollerで定義
      - case @family
      - when "parent"
        -# config/breadcrumbs.rbに定義したcategory_showを呼び出し
        - breadcrumb :category_show
        -# 下記を記述した箇所にパンくずリストを表示させる。
        -# separatorはパンくずの間の区切り「&rsaquo」は出力されると「›」になる。
        = breadcrumbs separator: " &rsaquo; ", class:"bread-crumbs-list"
      - when "child"
        - breadcrumb :childCategory
        = breadcrumbs separator: " &rsaquo; ", class:"bread-crumbs-list"
      - when "grandchild"
        - breadcrumb :grandchildCategory
        = breadcrumbs separator: " &rsaquo; ", class:"bread-crumbs-list"

  .l-container.clearfix
    .l-content.category-show
      %section.item-box-container.clearfix
        %h1.item-box-head
          = @category.name
          の商品一覧
        .item-box-content.clearfix
          - @items.each do |item|
            %section.items-box
              =link_to item_path(item) do
                %figure.items-box-photo 
                  = image_tag item.photos.first.photo
                  - unless item.buyer_id.nil?
                    %figcaption
                      .item-sold-out-badge
                        .soldout SOLD
                .items-box-body
                  %h3.items-box-name
                    = item.name
                  .items-box-num
                    .items-box-price
                      ¥
                      = item.price
                    .font-2
                      = fa_icon 'heart-o'
                      %span
                        3
            -# 仮置きなので後で消す(57〜86行目)
            %section.items-box
              =link_to "" do
                %figure.items-box-photo 
                  = image_tag item.photos.first.photo
                .items-box-body
                  %h3.items-box-name
                    テスト
                  .items-box-num
                    .items-box-price
                      ¥
                      テスト
                    .font-2
                      = fa_icon 'heart-o'
                      %span
                        3
            %section.items-box
              =link_to "" do
                %figure.items-box-photo 
                  = image_tag item.photos.first.photo
                .items-box-body
                  %h3.items-box-name
                    テスト
                  .items-box-num
                    .items-box-price
                      ¥
                      テスト
                    .font-2
                      = fa_icon 'heart-o'
                      %span
                        3
      = paginate(@items)
      .special-description
        .special-description-title
          %h3
            = @category.name
        .special-description-text
          %p
            おすすめ！
     
  = render partial: 'shared/main_aside'

  = render partial: 'shared/main_footer'

  = render partial: 'shared/sell_btn'